//
// Custom Bootstrap Variables
// --------------------------------------------------


// Colors

$brand-primary: #A63636;
$brand-secondary: #216464;
$text-color: #666;


// Typography

$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-serif: 'Cardo', serif;

$font-size-base: 62.5%;


// Grid

$grid-float-breakpoint: 768px;
