$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/material-shadows/material-shadows.scss";
@import "custom-variables.scss";
@import "animations.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #CCC;
  color: #000;
  padding: 0.2em 0;
}

body, html{
	position: relative;
	height: 100%;
	background-color: #F6F6F6;
	font-size: $font-size-base;
	font-family: $font-family-sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

section{
	position: relative;

	&::before, &::after{
		position: absolute;
		content: '';
		pointer-events: none;
	}
}

h1{
	font-size: 2.4rem;
	font-family: $font-family-sans-serif;
	color: #FFF;
	opacity: 0;
	animation: fadein 3s ease;
	animation-fill-mode: forwards;

	@media (min-width: $grid-float-breakpoint) {
		position: absolute;
		top: 25%;
		font-size: 3.6rem;
	}

	em{
		font-style: normal;
		font-family: $font-family-serif;
		font-size: 3.6rem;

		@media (min-width: $grid-float-breakpoint) {
			font-size: 6rem;
		}
	}

	small{
		font-size: 2.4rem;
		display: block;
		line-height: 1.25;
		margin-top: 3rem;
		font-family: $font-family-sans-serif;
		color: lighten($brand-primary, 10%);

		@media (min-width: $grid-float-breakpoint) {
			font-size: 3.6rem;
			margin-top: 0;
		}
	}
}

.hover-effect{
	font-weight: 600;
	color: lighten($brand-primary, 15%);
	outline: none;
	text-decoration: none;
	position: relative;
	display: inline-block;
	// overflow: hidden;
	// line-height: 1;
	// vertical-align: text-bottom;

	&:hover,
	&:active,
	&:focus{
		text-decoration: none;
		color: lighten($brand-primary, 15%);
	}

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	height: .2em;
	// 	width: 100%;
	// 	top: 50%;
	// 	margin-top: -.1em;
	// 	right: 0;
	// 	background: $brand-primary;
	// 	transform: translate3d(-100%,0,0);
	// 	transition: transform 0.4s;
	// 	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	// }

	// &:hover::after {
	// 	transform: translate3d(100%,0,0);
	// }

	&::before {
		content: attr(data-letters);
		position: absolute;
		z-index: 2;
		overflow: hidden;
		color: $brand-primary;
		white-space: nowrap;
		width: 0%;
		transition: width 0.2s 0.15s;
	}

	&:hover::before {
		width: 100%;
	}
}

.half-upper,
.half-lower{
	padding: 5rem 3rem;

	@media (min-width: $grid-float-breakpoint) {
		padding: 0 6rem;
	}
}

.half-upper{
	overflow: hidden;
	background:transparent url('../images/tile-pattern.png');

	@media (min-width: $grid-float-breakpoint) {
		height: 65vh;
	}
}

.half-lower {
	z-index: 1;
	background: #F6F6F6;
	color: lighten($text-color, 15%);
	padding-top: 30px;

	@media (min-width: $grid-float-breakpoint) {
		height: 35vh;
	}

	&::before,
	&::after{
		top: 0;
		left: -25%;
		z-index: -1;
		width: 150%;
		height: 75%;
		background: inherit;
		transform: rotate(-2deg);
		transform-origin: 0 0;
	}

	&::before{
		height: 50%;
		background: linear-gradient(270deg, #a63636, #216464);
		background-size: 400% 400%;
		transform: rotate(-3deg);
		transform-origin: 3% 0;
		animation: waves 10s ease-in-out alternate infinite, gradient_wave 30s ease infinite;

		@media (min-width: $screen-sm-min) {
			animation: waves_screen 10s ease-in-out alternate infinite, gradient_wave 30s ease infinite;
		}
	}

	&::after{
		animation: waves_two 12s ease-in-out alternate infinite;

		@media (min-width: $screen-sm-min) {
			animation: waves_two_screen 12s ease-in-out alternate infinite, gradient_wave 30s ease infinite;
		}
	}

	p{
		font-size: 2rem;
		max-width: 800px;
		opacity: 0;
		animation: fadein 3s ease;
		animation-delay: 1s;
		animation-fill-mode: forwards;

		@media (min-width: $grid-float-breakpoint) {
			font-size: 2.4rem;
		}
	}
}

.socials{
	opacity: 0;
	margin-top: 30px;
	animation: fadein 3s ease;
	animation-delay: 2s;
	animation-fill-mode: forwards;

	a{
		position: relative;
		display: block;
		font-size: 0;
	}

	.icon-social{
		position: relative;
		z-index: 1;
		fill: lighten($brand-primary, 15%);
		width: 4rem;
		height: 4rem;
		transition: all 500ms ease;

		@media (min-width: $grid-float-breakpoint) {
			width: 4.8rem;
			height: 4.8rem;
		}
	}

	.hover-bg{
		position: absolute;
		top: .1rem;
		right: .1rem;
		bottom: .1rem;
		left: .1rem;
		border-radius: 50%;
		transform-origin: center;
		transform: scale(0);
		opacity: 0;
		background-color: $brand-primary;
		transition: all 500ms ease;
		z-index: 0;
	}

	a {

		&:hover {
			.icon-social{
				fill: #F6F6F6;
			}

			.hover-bg{
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
